In [1]:
import pandas as pd

In [8]:
df = pd.read_excel('Sales Analysis.xlsx')

In [16]:
df.rename(columns = {"Sales ('000, USD)":"Sales"},inplace = True)

In [12]:
df.dtypes

Order ID                      int64
Customer Name                object
Product                      object
Region                       object
Sales ('000, USD)             int64
Registered At        datetime64[ns]
Purchased At         datetime64[ns]
Refunded                       bool
Origin                       object
dtype: object

In [10]:
df['Origin'].value_counts()

social            35
organic_search    31
paid_search       28
unknown           16
email             14
direct_traffic    13
referral           6
display            4
other              3
Name: Origin, dtype: int64

In [11]:
df.describe()

         Order ID  Sales ('000, USD)
count  150.000000         150.000000
mean    76.040000         289.033333
std     44.358346         127.018860
min      1.000000         100.000000
25%     38.250000         200.000000
50%     75.500000         300.000000
75%    113.750000         350.000000
max    190.000000         550.000000

In [17]:
df.groupby('Region')['Sales'].sum()

Region
Central     7755
East       11960
North       6775
South       7695
West        9170
Name: Sales, dtype: int64

In [19]:
df.groupby('Origin')['Sales'].sum()

Origin
direct_traffic     3160
display            1040
email              3990
organic_search     9350
other               600
paid_search        8475
referral           1335
social            10280
unknown            5125
Name: Sales, dtype: int64

In [21]:
df['Product'].value_counts()

B    28
G    24
F    24
C    22
D    20
A    18
E    14
Name: Product, dtype: int64

In [26]:
df[df['Refunded']].groupby('Product')[['Region','Product']].count()

         Region  Product
Product
A             1        1
B             3        3
C             1        1
F             2        2

In [30]:
df['Registered At'].dt.month.value_counts()

2    82
1    68
Name: Registered At, dtype: int64

In [25]:
df[df['Refunded']].groupby('Region')['Product'].count()

Region
Central    3
East       2
North      1
South      1
Name: Product, dtype: int64

In [57]:
value_counts_df = df.groupby('Region')['Origin'].value_counts().reset_index(name='count')
idx = value_counts_df.groupby('Region')['count'].idxmax()
value_counts_df.loc[idx]

     Region          Origin  count
0   Central          social      9
8      East  organic_search     11
16    North  organic_search      7
24    South          social      6
33     West     paid_search      7

In [60]:
df['Origin'].unique()

array(['referral', 'display', 'social', 'other', 'paid_search', 'unknown',
       'email', 'direct_traffic', 'organic_search'], dtype=object)

In [62]:
# Define the mapping
mapping = {
    'direct_traffic': 'Organic',
    'referral': 'Organic',
    'organic_search': 'Organic'
}

# Apply the mapping to the 'Origin' column
df['Origin'] = df['Origin'].apply(lambda x: mapping.get(x, 'Paid'))

In [63]:
df['Origin'].value_counts()

Paid       100
Organic     50
Name: Origin, dtype: int64

In [64]:
# df.corr()

C:\Users\saira\AppData\Local\Temp\ipykernel_8196\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

          Order ID     Sales  Refunded
Order ID  1.000000 -0.000160 -0.055964
Sales    -0.000160  1.000000 -0.010794
Refunded -0.055964 -0.010794  1.000000

In [68]:
df['Customer Name'].value_counts()

Kivell      15
Smith       15
Jack        14
Jardine     13
Morgan      11
Thompson    10
Sorvina      9
James        9
Andrew       8
Jones        7
Amy          7
Gill         7
Anny         7
Daisy        6
Rebecca      4
Mack         3
Elena        2
Jonshon      1
Isle         1
Mathew       1
Name: Customer Name, dtype: int64

In [72]:
df.groupby(['Customer Name','Region'])['Order ID'].count().sort_values(ascending = False)

Customer Name  Region
Smith          Central    15
Kivell         East       15
Jack           West       14
Jardine        East       13
Morgan         North      11
Thompson       South      10
Sorvina        West        9
James          North       9
Andrew         West        8
Amy            South       7
Gill           East        7
Anny           Central     7
Jones          South       7
Daisy          North       6
Rebecca        East        4
Mack           Central     3
Elena          Central     2
Isle           East        1
Jonshon        Central     1
Mathew         Central     1
Name: Order ID, dtype: int64

In [78]:
df[df['Refunded']].groupby(['Refunded', 'Product']).size().reset_index(name='count')

   Refunded Product  count
0      True       A      1
1      True       B      3
2      True       C      1
3      True       F      2

In [80]:
df[df['Refunded']].groupby(['Region','Product']).size().reset_index(name='count')

    Region Product  count
0  Central       A      1
1  Central       B      1
2  Central       F      1
3     East       B      1
4     East       F      1
5    North       C      1
6    South       B      1

In [81]:
df[df['Refunded']].groupby('Region').size().reset_index(name='count')

    Region  count
0  Central      3
1     East      2
2    North      1
3    South      1

In [92]:
df_agg = df.groupby('Product').agg({'Sales':'sum','Product':'count'}).rename(columns = {'Sales':'Total Sales','Product':'Number of Orders'})

In [97]:
avg_order_value =df_agg['Total Sales']/df_agg['Number of Orders']

avg_order_value

Product
A    411.388889
B    349.285714
C    274.772727
D    248.000000
E    318.571429
F    263.125000
G    182.916667
dtype: float64

In [118]:
# Checking if a given product has the same value in the same region and how it differs across different regions

regions = df['Region'].unique()
products = df['Product'].unique()

for region in regions:
    for product in products:
        sales_values = df[(df['Region'] == region)&(df['Product']==product)]['Sales'].values
        print(f"Region : {region}")
        print(f"Product : {product}")
        print("Sales Values:", sales_values)
        print()

Region : South
Product : A
Sales Values: [500 500 500 235]

Region : South
Product : B
Sales Values: [400 350 400 400]

Region : South
Product : G
Sales Values: [350 100 100]

Region : South
Product : F
Sales Values: [500 200 200 200 200 410]

Region : South
Product : D
Sales Values: [350]

Region : South
Product : E
Sales Values: [220]

Region : South
Product : C
Sales Values: [110 300 520 350 300]

Region : East
Product : A
Sales Values: [350 120 500 500 500]

Region : East
Product : B
Sales Values: [400 320 210 400 350 300 400 210 400 135]

Region : East
Product : G
Sales Values: [550 110 210 350 120 130 105]

Region : East
Product : F
Sales Values: [350 200 200 320 200 335]

Region : East
Product : D
Sales Values: [250 250]

Region : East
Product : E
Sales Values: [200 220 550 550 205]

Region : East
Product : C
Sales Values: [320 300 300 320 220]

Region : North
Product : A
Sales Values: [520 210 300]

Region : North
Product : B
Sales Values: [400 400 320 350]

Region : North
Product : G
Sales Values: [100 300 300 100 100]

Region : North
Product : F
Sales Values: [200 200 520 320 220]

Region : North
Product : D
Sales Values: [250 250 125 250 250]

Region : North
Product : E
Sales Values: [350 120]

Region : North
Product : C
Sales Values: [210 110]

Region : West
Product : A
Sales Values: [500 500 300]

Region : West
Product : B
Sales Values: [400 400 500]

Region : West
Product : G
Sales Values: [200 220 320 100 125]

Region : West
Product : F
Sales Values: [200 320 220]

Region : West
Product : D
Sales Values: [320 100 250 250 320 250 210 225]

Region : West
Product : E
Sales Values: [225 520 220 550]

Region : West
Product : C
Sales Values: [110 220 320 350 425]

Region : Central
Product : A
Sales Values: [350 500 520]

Region : Central
Product : B
Sales Values: [250 400 310 300 325 400 350]

Region : Central
Product : G
Sales Values: [100 100 100 100]

Region : Central
Product : F
Sales Values: [200 200 200 200]

Region : Central
Product : D
Sales Values: [250 310 250 250]

Region : Central
Product : E
Sales Values: [320 210]

Region : Central
Product : C
Sales Values: [110 200 320 520 110]

In [124]:
for product in products :
    print(df[(df['Region']=='Central')&(df['Product']==product)][['Product','Sales']]) 
    
# Only Product G and F in the Central region has the same price for each product

    Product  Sales
79        A    350
134       A    500
137       A    520
    Product  Sales
4         B    250
8         B    400
17        B    310
52        B    300
73        B    325
96        B    400
133       B    350
   Product  Sales
38       G    100
55       G    100
66       G    100
80       G    100
   Product  Sales
19       F    200
24       F    200
40       F    200
83       F    200
    Product  Sales
33        D    250
105       D    310
109       D    250
120       D    250
   Product  Sales
43       E    320
71       E    210
    Product  Sales
51        C    110
122       C    200
128       C    320
129       C    520
146       C    110